# RK_YOCTO is not set
RK_ROOTFS_PREBUILT_TOOLS=y
RK_ROOTFS_SYSTEM_DEBIAN=y
RK_UBOOT_SPL=y
RK_KERNEL_DTS_NAME="rk3576-armsom-sige5"
RK_ROOTFS_HOSTNAME="armsom-sige5"
RK_USE_FIT_IMG=y
RK_WIFIBT_CHIP="ALL_AP"
RK_KERNEL_VERSION_RAW="6.1"
